// Font Families
$font-roboto: 'Roboto', sans-serif;
$font-bona-nova: 'Bona Nova', serif;

// Font Weights
$font-weight-primary: 400;

// Font Colors
$color-primary: rgba(0, 0, 0, 1);
$color-secondary: rgba(255, 255, 255, 1);
$color-tertiary: rgba(0, 87, 88, 1);
$color-placeholder: rgba(203, 203, 203, 1);
$color-error: rgba(255, 79, 79, 1);

// Background Colors
$bg-primary: rgba(255, 255, 255, 1);
$bg-secondary: rgba(0, 87, 88, 1);
$bg-tertiary: rgba(233, 233, 233, 1);
$bg-misc: rgba(247, 197, 72, 1);

// Icon Colors
$icon-primary: rgba(0, 87, 88, 1);
$icon-secondary: rgba(247, 197, 72, 1);
$icon-tertiary: rgba(153, 153, 153, 1);

// Input Colors
$input-focus: rgba(247, 197, 72, 1);
$input-error: rgba(255, 79, 79, 1);
$input-disabled: rgba(203, 203, 203, 1);

// Animations
$animation-theme-transition: all 0.3s;

// Breakpoints
$breakpoints: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
  'xxl': 1536px,
);
